body {
	background-color: lightgray;
}

.site{
	width: 800px;
	height: 2000px;
	background-color: blue;
}

.escuros {
	width: 700px;
	height: 200px;
	background-color: navy;
	vertical-align: middle;
}

.cinza {
	width: 
	background-color: lightgray;
}